@font-face {
  font-family: "iconfont"; /* Project id 4020260 */
  src: url('iconfont.woff2?t=1782733490647') format('woff2'),
       url('iconfont.woff?t=1782733490647') format('woff'),
       url('iconfont.ttf?t=1782733490647') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Check:before {
  content: "\ec20";
}

.icon-Areality-PrintingTool:before {
  content: "\ec0c";
}

.icon-Areality-Color:before {
  content: "\ec04";
}

.icon-Areality-Palette:before {
  content: "\ec05";
}

.icon-Areality-ColorConversion:before {
  content: "\ec06";
}

.icon-Areality-Picture:before {
  content: "\ec07";
}

.icon-Areality-Setting:before {
  content: "\ec08";
}

.icon-Areality-ModeSwitching:before {
  content: "\ec09";
}

.icon-ViewDetails:before {
  content: "\ec1e";
}

.icon-Download:before {
  content: "\ec1f";
}

.icon-UseImmediately:before {
  content: "\ec16";
}

.icon-Areality-ColorMixing:before {
  content: "\ec0e";
}

.icon-Areality-Code:before {
  content: "\ec0f";
}

.icon-Areality-ColorMatching:before {
  content: "\ec10";
}

.icon-Areality-ColorContrast:before {
  content: "\ec11";
}

.icon-Success:before {
  content: "\ebf9";
}

.icon-BackTop:before {
  content: "\ebfa";
}

.icon-Copy:before {
  content: "\ebfb";
}

.icon-Fold:before {
  content: "\ebfc";
}

.icon-Expand:before {
  content: "\ebfd";
}

.icon-Prompt:before {
  content: "\ebfe";
}

.icon-Failure:before {
  content: "\ebff";
}

.icon-Query:before {
  content: "\ec00";
}

.icon-Back:before {
  content: "\ec01";
}

.icon-Areality-Overview:before {
  content: "\ec02";
}

.icon-PictureAddition:before {
  content: "\ec03";
}

.icon-Palette:before {
  content: "\ec0a";
}

.icon-Copyright:before {
  content: "\ec0b";
}

.icon-Close:before {
  content: "\ec18";
}

.icon-Areality-AIMode:before {
  content: "\ec19";
}

.icon-Areality-MyCollection:before {
  content: "\ec12";
}

.icon-Areality-ProfessionalMode:before {
  content: "\ec1a";
}

.icon-Collection:before {
  content: "\ec13";
}

.icon-Areality-UsageGuide:before {
  content: "\ec14";
}

.icon-Areality-Collection:before {
  content: "\ec15";
}

.icon-Areality-HistoricalRecord:before {
  content: "\ec17";
}

.icon-Attention:before {
  content: "\ebf8";
}

.icon-Areality-Send:before {
  content: "\ec1b";
}

.icon-Areality-Stop:before {
  content: "\ec1c";
}

.icon-Areality-Feedback:before {
  content: "\ec1d";
}

